<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        A melhor loja de doces de Pirassununga e regiÄo
      </h1>

      <p class="subtitle">
        Ganhe um cupom atraves de um joguinho.
      <%= link_to "Jogar", about_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>
</section>
